<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.dvbviewer.controller">

    <uses-sdk tools:overrideLibrary="com.google.android.gms" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DVB"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DVB.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.RemoteActivity"
            android:label="@string/remote"
            android:theme="@style/Theme.DVB.NoActionBar" />
        <activity
            android:name=".ui.phone.RecordinglistActivity"
            android:label="@string/recordings" />
        <activity
            android:name=".ui.phone.ChannelListActivity"
            android:theme="@style/Theme.DVB.NoActionBar" />
        <activity
            android:name=".ui.phone.TimerlistActivity"
            android:label="@string/timer"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ui.phone.TaskActivity"
            android:label="@string/tasks" />
        <activity
            android:name=".ui.phone.StatusActivity"
            android:label="@string/status" />
        <activity
            android:name=".ui.phone.PreferencesActivity"
            android:label="@string/preferences" />
        <activity
            android:name=".ui.phone.ConnectionPreferencesActivity"
            android:label="@string/preferences" />
        <activity
            android:name=".ui.phone.EpgPagerActivity"
            android:label="@string/channelEPG"
            android:theme="@style/Theme.DVB.NoActionBar" />
        <activity
            android:name=".ui.phone.TimerDetailsActivity"
            android:label="@string/timer" />
        <activity
            android:name=".ui.phone.StreamConfigActivity"
            android:label="@string/streamConfig" />
        <activity
            android:name=".ui.phone.IEpgDetailsActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.phone.AboutActivity" />
        <activity android:name=".ui.phone.MedialistActivity" />
        <activity android:name=".ui.activity.VideoActivity" />

        <provider
            android:name=".data.DvbProvider"
            android:authorities="org.dvbviewer.controller.provider"
            android:exported="false" />

        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>